<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RSHB</title>
</head>
<body>
<table border="1" width="100%">
    <tr>
        <th width="4%">Id</th>
        <th width="16%">Temperature</th>
        <th width="16%">FeelsLike</th>
        <th width="16%">Humidity</th>
        <th width="16%">City</th>
        <th width="16%">Pressure</th>
        <th width="16%">ServiceType</th>
    </tr>
    <tr>
        <td><p th:text=" ${weather[0].id} " /></td>
        <td><p th:text=" ${weather[0].temperature} " /></td>
        <td><p th:text=" ${weather[0].feelsLike} " /></td>
        <td><p th:text=" ${weather[0].humidity} " /></td>
        <td><p th:text=" ${weather[0].name} " /></td>
        <td><p th:text=" ${weather[0].pressure} " /></td>
        <td><p th:text=" ${weather[0].serviceType} " /></td>
    </tr>
    <tr>
        <td><p th:text=" ${weather[1].id} " /></td>
        <td><p th:text=" ${weather[1].temperature} " /></td>
        <td><p th:text=" ${weather[1].feelsLike} " /></td>
        <td><p th:text=" ${weather[1].humidity} " /></td>
        <td><p th:text=" ${weather[1].name} " /></td>
        <td><p th:text=" ${weather[1].pressure} " /></td>
        <td><p th:text=" ${weather[1].serviceType} " /></td>
    </tr>
    <tr>
        <td><p th:text=" ${weather[2].id} " /></td>
        <td><p th:text=" ${weather[2].temperature} " /></td>
        <td><p th:text=" ${weather[2].feelsLike} " /></td>
        <td><p th:text=" ${weather[2].humidity} " /></td>
        <td><p th:text=" ${weather[2].name} " /></td>
        <td><p th:text=" ${weather[2].pressure} " /></td>
        <td><p th:text=" ${weather[2].serviceType} " /></td>
    </tr>
    <tr>
        <td><p th:text=" ${weather[3].id} " /></td>
        <td><p th:text=" ${weather[3].temperature} " /></td>
        <td><p th:text=" ${weather[3].feelsLike} " /></td>
        <td><p th:text=" ${weather[3].humidity} " /></td>
        <td><p th:text=" ${weather[3].name} " /></td>
        <td><p th:text=" ${weather[3].pressure} " /></td>
        <td><p th:text=" ${weather[3].serviceType} " /></td>
    </tr>
    <tr>
        <td><p th:text=" ${weather[4].id} " /></td>
        <td><p th:text=" ${weather[4].temperature} " /></td>
        <td><p th:text=" ${weather[4].feelsLike} " /></td>
        <td><p th:text=" ${weather[4].humidity} " /></td>
        <td><p th:text=" ${weather[4].name} " /></td>
        <td><p th:text=" ${weather[4].pressure} " /></td>
        <td><p th:text=" ${weather[4].serviceType} " /></td>
    </tr>
    <tr>
        <td><p th:text=" ${weather[5].id} " /></td>
        <td><p th:text=" ${weather[5].temperature} " /></td>
        <td><p th:text=" ${weather[5].feelsLike} " /></td>
        <td><p th:text=" ${weather[5].humidity} " /></td>
        <td><p th:text=" ${weather[5].name} " /></td>
        <td><p th:text=" ${weather[5].pressure} " /></td>
        <td><p th:text=" ${weather[5].serviceType} " /></td>
    </tr>
    <tr>
        <td><p th:text=" ${weather[6].id} " /></td>
        <td><p th:text=" ${weather[6].temperature} " /></td>
        <td><p th:text=" ${weather[6].feelsLike} " /></td>
        <td><p th:text=" ${weather[6].humidity} " /></td>
        <td><p th:text=" ${weather[6].name} " /></td>
        <td><p th:text=" ${weather[6].pressure} " /></td>
        <td><p th:text=" ${weather[6].serviceType} " /></td>
    </tr>
    <tr>
        <td><p th:text=" ${weather[7].id} " /></td>
        <td><p th:text=" ${weather[7].temperature} " /></td>
        <td><p th:text=" ${weather[7].feelsLike} " /></td>
        <td><p th:text=" ${weather[7].humidity} " /></td>
        <td><p th:text=" ${weather[7].name} " /></td>
        <td><p th:text=" ${weather[7].pressure} " /></td>
        <td><p th:text=" ${weather[7].serviceType} " /></td>
    </tr>


</table>
</body>
</html>

